<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
	<add key="provider" value="System.Data.SqlClient" />
  </appSettings>
  <connectionStrings>
    <add name="ConnectionString" connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=C:\Users\Андрей\Documents\GitHub\Students\Hospital_Alferov_Vinogradov_Popov_team\Hospital\Hospital\Hospital.mdf;Integrated Security=True"/>
  </connectionStrings>
</configuration>