@model BillSplitter.Models.InteractionLevel.InteractionLevelPosition

<form asp-action="AddBillPosition", asp-route-billId = "@ViewData["billId"]">
    <label>
        Name
        @Html.TextBoxFor(model => model.Name)
    </label>
    <label>
        Price
        @Html.TextBoxFor(model => model.Price)
    </label>
    <label>
        Quantity
        @Html.TextBoxFor(model => model.QuantityNumerator)
    </label>
    <input type="submit" value="Add position"/>
</form>