@model Bill

<form asp-action="Create" id="billNameForm">
    @Html.TextBoxFor(model => model.Name, 
        new
        {
            @class = "form-control"
        })
</form>

<script>
    function submitBillNameForm() {
        var form = document.getElementById("billNameForm");
        form.submit();
    }
</script>
