@model Bill

<h2> Join  @Model.Name</h2>
<form asp-controller="Customers" asp-action="Post" asp-route-billId="@Model.Id">
    <input type="submit" class="btn btn-primary" value="Join Bills" />
</form>