@{
    ViewData["Title"] = "New Bill";
}


<form id="NewBillForm" action="/Bills/NewBill" method="post">
    <table id="PositionsTable" class="table" width="600" border="1">
        <tr>
            <th> Name</th>
            <th> Price</th>
            <th> Quantity</th>
        </tr>
    </table>

    <br>
    <br>
    <label>
        Name
        <input type="text" id="NewName">
    </label>

    <label>
        Price
        <input type="number" min="0" id="NewPrice">
    </label>
    <label>
        Quantity
        <input  type="number" min="1" id="NewQuantity" value="1" />
    </label>
</form>



<button onclick="addRow()">Add Position</button>
<br>
<br>
<button onclick="document.getElementById('NewBillForm').submit();">Make New Bill</button>
<script type="text/javascript">

    function addRow() {
    
        var tableRef = document.getElementById("PositionsTable");

        var Price = document.getElementById("NewPrice").value;
        var Name = document.getElementById("NewName").value.trim();
        var Quantity = document.getElementById("NewQuantity").value;

        if (Price == "" || Name == "" || Quantity == "") {
            alert("empty Price, Name or Quantity");
        }
        else {
            var newRow = tableRef.insertRow(-1);
            var cell1 = newRow.insertCell(0);
            var cell2 = newRow.insertCell(1);
            var cell3 = newRow.insertCell(2);

            document.getElementById("NewPrice").value = "";
            document.getElementById("NewName").value = "";
            document.getElementById("NewQuantity").value = "1";

            cell1.innerHTML = "<input  type=\"text\" name=\"name\" value=\"" + Name + "\" />";
            cell2.innerHTML = "<input  type=\"number\" min=\"0\" name=\"price\" value=\"" + Price + "\" />";
            cell3.innerHTML = "<input  type=\"number\" min=\"1\"  name=\"quantity\" value=\"" + Quantity + "\" />";

        }
    }

   
</script>