@model List<BillSplitter.Models.Position>

<form method="post" action="/Bills/DoneSelect">
    <table class="table" id="positionTable">
        <thead>
            <tr>
                <th>
                    Select
                </th>
                <th>
                    Quantity
                </th>
                <th>
                    Name
                </th>
                <th>
                    Price
                </th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < Model.Count; i++) 
            {
                <tr>
                    <td>
                        <input type="checkbox" name="selected" value="@Model[i].Id", id="check" onclick="changeQuantityState(@(i + 1))"/>
                    </td>
                    <td>
                        <input type="number" name="numerator" value="0" min="1" step="1" disabled id="num"/>
                        /
                        <input type="number" name="denomenator" value="1" min="1" step="1" disabled id="denom" />
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => modelItem[i].Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => modelItem[i].Price)
                    </td>
                </tr>
            }
        </tbody>
    </table>
   
    <input type="submit"></input>
</form>
<script>
    function changeQuantityState(rowNumber) {
        var row = document.getElementById("positionTable").rows[rowNumber];

        console.log(row.cells.length);

        var checkbox = row.cells[0].children[0];
        console.log(checkbox.checked);

        var inputCell = row.cells[1];

        var num = inputCell.children[0];

        var denom = inputCell.children[1];
        console.log(denom);

        if (!checkbox.checked) {
            num.value = 0;
            denom.value = 1;
        }

        num.disabled = !checkbox.checked;
        denom.disabled = !checkbox.checked;
    }
</script>