body {
    margin: 0;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    line-height: 1.5em;
    color: #333;
    background-color: #FEFEFE;
}

p {
    margin: 0;
}

.contrast-button {
    color: #fff !important;
}

.contrast-button:disabled {
    opacity: 0.4;
}

.contrast-icon {
    fill: #fff !important;
}

.error-button {
    color: #ef5350 !important;
}

.error-button:disabled {
    opacity: 0.4;
}

.error-icon {
    fill: #ef5350 !important;
}

.expansion-panel-root {
    background: none !important;
}

.expansion-details-root {
    flex-direction: column;
    padding: 0 !important;
    text-align: left !important;
}
.outlined-primary-light-button {
    border: 2px solid #D4E157 !important;
}

.outlined-error-button {
    border: 2px solid #ef5350 !important;
}

.primary-button {
    color: #7CB342 !important;
}

.primary-button:disabled {
    opacity: 0.4;
}

.primary-icon {
    fill: #7CB342 !important;
}

.primary-light-icon {
    fill: #D4E157 !important;
}
