.tagsContainer{
    display: flex;
    justify-content: center;
    margin: 0.5rem;
}

.input-group{
    margin-bottom: 1rem;
}

.todoTableCell{
    font-size: 20px;
    max-width: 45vw;
    min-width: 8vw;
    word-wrap: break-word;
}

.todoItemTag {
    font-size: 16px;
    background-color: rgba(252, 255, 102, 0.959);
    width: fit-content;
}