{
  "plugins": [
    "transform-react-jsx",
    "transform-object-rest-spread",
    "react-hot-loader/babel",
    ["babel-plugin-styled-components", { "ssr": true }],
    "syntax-dynamic-import",
    "transform-class-properties"
  ],
  "presets": [
    ["@babel/preset-env", { "loose": true }],
    "@babel/preset-react"
  ]
}