{
  "presets": [
    ["@babel/env", { "loose": true }],
    "@babel/react"
  ],
  "plugins": [
    "@babel/plugin-transform-react-jsx",
    "@babel/plugin-proposal-object-rest-spread",
    "react-hot-loader/babel",
    ["babel-plugin-styled-components", { "ssr": true }],
    "@babel/plugin-syntax-dynamic-import",
    "@babel/plugin-proposal-class-properties"
  ]
}