{
  "plugins": [
    "transform-react-jsx",
    "transform-object-rest-spread",
    "react-hot-loader/babel",
    "babel-plugin-styled-components",
    "syntax-dynamic-import",
    "transform-class-properties"
  ],
  "presets": [ "env", "react" ]
}