<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <httpProtocol>
      <customHeaders>
        <remove name="X-Powered-By" />
      </customHeaders>
    </httpProtocol>

    <defaultDocument>
      <files>
        <clear />
        <add value="index.js" />
      </files>
    </defaultDocument>

    <modules>
      <remove name="WebDAVModule" />
    </modules>

    <handlers>
      <add name="iisnode" path="index.js" verb="*" modules="iisnode" resourceType="Unspecified" requireAccess="Script" />
    </handlers>

    <iisnode watchedFiles="index.js; .server/*.js" enableXFF="true"/>

    <rewrite>
      <rules>
        <rule name="NodeInspector" patternSyntax="ECMAScript" stopProcessing="true">
          <match url="^index.js\/debug[\/]?" />
        </rule>
        <rule name="DynamicContent">
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="True" />
          </conditions>
          <action type="Rewrite" url="index.js" />
        </rule>
      </rules>
    </rewrite>

    <security>
      <requestFiltering>
        <verbs>
          <clear />
          <add verb="PUT" allowed="true" />
          <add verb="POST" allowed="true" />
          <add verb="PATCH" allowed="true" />
          <add verb="HEAD" allowed="true" />
          <add verb="GET" allowed="true" />
          <add verb="DELETE" allowed="true" />
        </verbs>
        <hiddenSegments>
          <add segment="node_modules" />
        </hiddenSegments>
      </requestFiltering>
    </security>

    <httpErrors existingResponse="PassThrough" />
  </system.webServer>

  <appSettings>
    <add key="HUB_ENV" value="development" />
  </appSettings>
</configuration>