<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <appSettings>
    <add key="provider" value="System.Data.SqlClient" />
  </appSettings>
  <connectionStrings>
    <add name="ConnectionString"
         connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=|DataDirectory|\Databases\Hospital.mdf;Integrated Security=True;Connect Timeout=30;" />
  </connectionStrings>

</configuration>