body {
    margin: 0;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    line-height: 1.5em;
    color: #444;
    background-color: #FEFEFE;
}

p {
    margin: 0;
}

.disabled-button {
    color: inherit !important;
    opacity: 0.5 !important;
}

.expansion-panel-root {
    background: none !important;
}

.expansion-details-root {
    flex-direction: column;
}

.outlined-button {
    border-color: #fff !important;
}