<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <appSettings>
    <add key="provider" value="System.Data.SqlServerCe.4.0" />
  </appSettings>
  <connectionStrings>
    <add name="ConnectionString" connectionString="Data Source=Databases\Hospital.sdf;" />
  </connectionStrings>
</configuration>