@{
    ViewData["Title"] = "New Bill";
}


<table id="PositionsTable" width="600" border="1">

    <tr>
        <th> Name</th>
        <th> Price</th>
    </tr>
   
</table>
<br>
<br>
<label> Name
    <input type="text" id="NewName">
</label>

<label> Price
    <input type="number" id="NewPrice">
</label>

<button onclick="addRow()">Add Position</button>
<br>
<button onclick="PostPositions()">Make New Bill</button>
<script type="text/javascript">
    var Positions = []
    function addRow()
    {
    // Get a reference to the table
        var tableRef = document.getElementById("PositionsTable");

        // Insert a row in the table at row index 0
       
        var Price = document.getElementById("NewPrice").value;
        var Name = document.getElementById("NewName").value;
        if (Price == "" || Name == "") {
            alert("empty Price or Name");
        }
        else
        {
            var newRow = tableRef.insertRow(-1);
            var cell1 = newRow.insertCell(0);
            var cell2 = newRow.insertCell(1);
            document.getElementById("NewPrice").value = "";
            document.getElementById("NewName").value = "";
            cell1.innerHTML = Name;
            cell2.innerHTML = Price;
            Positions.push({ "Name": Name, "Price": parseInt(Price) });
        }
    }

    function PostPositions()
    {
        

        var json = JSON.stringify(Positions);

        var xhr = new XMLHttpRequest();
        xhr.open("POST", "/Home/AddNewBill");
        xhr.setRequestHeader("Content-Type", "application/json");
        xhr.send(json);
    }

</script>