@model List<BillSplitter.Models.Position>

<form method="post" action="/Home/DoneSelect">
    <table class="table">
        <thead>
            <tr>
                <th>
                    Select
                </th>
                <th>
                    Name
                </th>
                <th>
                    Price
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <input type="checkbox" name="selected" value="@item.Id" />
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Price)
                    </td>
                </tr>
            }
        </tbody>
    </table>
   
    <input type="submit"></input>
</form>
