<div> Супер анализ</div> 
<div> От медицинского кабинета</div> 
<div> на кровь</div> 

<div> толерантность к глюкозе <input name="blood_param1" value="нормальная" /></div> 
<div> Гликированный гемоглобин <input name="blood_param2" value="замечательный" /></div> 
<div> Эритроциты <input name="blood_param3" value="заводные" /></div> 
<div> Тромбоциты <input name="blood_param4" value="общительные" /></div> 
<div> Лейкоциты <input name="blood_param5" value="дружелюбные" /></div> 
<div> Ретинкулоциты <input name="blood_param6" value="Одинокие" /></div> 
<div> Миелоциты <input name="blood_param7" value="позитивные" /> Правда? <input name="blood_param8" value="Да" /></div> 
<div>Дата<input name="date_time" value=""></div>

<div>Подпись___________________________________</div>