@model BillSplitter.Models.ViewModels.LoginAndRegister.LoginViewModel
<style>
    form {
        width: 100%;
        max-width: 410px;
        padding: 15px;
        margin: auto;
    }
</style>
<div class="form">
    <h1 class="h3 mb-3 font-weight-normal" style="text-align:center;"> Sign in</h1>

    <form asp-controller="Account">
        <input class="btn btn-primary btn-block" type="submit" value="Sign in with Facebook" asp-action="ExternalLogin" asp-route-returnUrl=@ViewBag.returnUrl asp-route-provider="Facebook">
        <input type="submit" class="btn btn-danger btn-block" value="Sign in with Google" asp-action="ExternalLogin" asp-route-returnUrl=@ViewBag.returnUrl asp-route-provider="Google">
        <input type="submit" class="btn btn-primary btn-block" value="Sign in with Вконтакте" asp-action="ExternalLogin" asp-route-returnUrl=@ViewBag.returnUrl asp-route-provider="VK">
    </form>
    <p style="text-align:center"> OR </p>

    <form asp-action="Login" asp-controller="Account" asp-route-returnUrl="@ViewBag.returnUrl">
        <div class="validation" asp-validation-summary="ModelOnly" />
        <div>
            <div class="form-group">
                <input type="text" asp-for="Name" class="form-control" placeholder="Login" required autofocus="" />
                <span asp-validation-for="Name" style="color:red;"> </span>
            </div>
            <div class="form-group">
                <input type="password" asp-for="Password" class="form-control" placeholder="Password" required autofocus="" />
                <span asp-validation-for="Password" style="color:red;"> </span>
            </div>
            <div class="form-group">
                <input type="submit" value="Sing in" class="btn btn-success btn-block" />
            </div>
        </div>
    </form>
    <hr style="text-align:center; width:400px;">
    @Html.ActionLink("Sign up New Account", "Register", new { returnUrl = ViewBag.returnUrl }, new { @class = "btn btn-primary btn-block", style = "margin:auto; width: 390px" })

</div>