@model BillSplitter.Models.RegisterModel

<h2>Регистрация</h2>
@using (Html.BeginForm(new { returnUrl = ViewBag.returnUrl }))
{
    <form asp-action="Register" asp-controller="Account">
        <div class="validation" asp-validation-summary="ModelOnly" />
        <div>
            <div class="form-group">
                <label asp-for="Name">Enter Name</label>
                <input type="text" asp-for="Name" />
                <span asp-validation-for="Name"> </span>
            </div>
            <div class="form-group">
                <input type="submit" value="Register" class="btn btn-outline-dark" />
            </div>
        </div>
    </form>
}

