@model List<Bill>

<p> Your own bills </p>

<a asp-action="Create" asp-route-userId="@ViewData["userId"]">Create empty bill</a>

<table class="table">
    <thead>
    <tr>
        <th>Name</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var bill in Model)
    {
        <tr>
            <td>@bill.Name</td>
            <td>
                <a asp-action="ViewBill" asp-route-billId="@bill.Id">View bill</a> |
                <a asp-action="Delete" asp-route-billId="@bill.Id">Delete</a> |
                Edit choice
            </td>
        </tr>
    }
    </tbody>
</table>
