@model Bill

<ul>
    <li>
        <a asp-controller="Customers" asp-action="Index" asp-route-userId="@Model.UserId" asp-route-billId="@Model.Id">Manage customers</a> 
    </li>
    <li>
        Manage content <!-- TODO manage content link -->
    </li>
</ul>
