@model Bill

<p>This bill has</p>
<ul>
    <li>
        @Model.Positions.Count position(s)
    </li>
    <li>
        @Model.Customers.Count customer(s)
    </li>
</ul>

<ul>
    <li>
        <a asp-controller="Customers" asp-action="Index" asp-route-billId="@Model.Id">Manage customers</a> 
    </li>
    <li>
        <a asp-controller="Positions" asp-action="Index" asp-route-billId="@Model.Id">Manage position</a> <!-- TODO manage content link -->
    </li>
</ul>
