@model BillSplitter.Models.InteractionLevel.InteractionLevelPosition

<label>
    Name
    @Html.TextBoxFor(model => model.Name)
</label>
<label>
    Price
    @Html.TextBoxFor(model => model.Price)
</label>
<label>
    Quantity
    @Html.TextBoxFor(model => model.QuantityNumerator)
</label>