@model BillSplitter.Models.InteractionLevel.InteractionLevelPosition

<label>
    Name
    @Html.TextBoxFor(model => model.Name, new { @class= "form-control" } )
</label>
<label>
    Price
    @Html.TextBoxFor(model => model.Price, new { @class = "form-control" })
</label>
<label>
    Quantity
    @Html.TextBoxFor(model => model.QuantityNumerator, new { @class = "form-control" })
</label>