@model List<Position>

<table class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Price
            </th>
            <th>
                Quantity
            </th>
            <th>
                Actions
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var position in Model)
        {
            <tr>
                @await Html.PartialAsync("PositionPartial", position, ViewData)
            </tr>
        }
    </tbody>
</table>
@await Html.PartialAsync("CreatePartial", new Position(), ViewData)

<script>
    function submitUpdatePosition(formName) {
        var updateForm = document.getElementById(formName);
        updateForm.submit();
    }
</script>