@model List<BillSplitter.Models.ViewModels.PickPositions.PositionViewModel>

<table class="table">
    <thead>
        <tr>
            <th>
                Select
            </th>
            <th>
                Quantity(Optional)
            </th>
            <th>
                Name
            </th>
            <th>
                Price
            </th>
            <th>
                Selected Quantity
            </th>
            <th colspan="2">
                Already selected
            </th>
        </tr>
    </thead>
    <tbody>

    @foreach (var position in Model)
    {
        <tr id="partial_@position.Id">
            @await Html.PartialAsync("PickPositionsPartial",position)
        </tr>
    }
    </tbody>
</table>
@Html.ActionLink("View results", "ViewBill", "Bills", new
{
    billId = ViewData["billId"]
}, new
{
    @class = "btn btn-primary"
})

<script type="text/javascript">
    setInterval(() => reloadAll(), 5000);

    function reloadAll() {
        @foreach (BillSplitter.Models.ViewModels.PickPositions.PositionViewModel position in Model)
        {
          @:reload(@position.Id);
        }
    }

    function reload(id) {

        var input = document.getElementById("quantity_" + id);

        if (input != document.activeElement)
            $("#partial_" + id).load( id + "/Partial");
    }

    function positionChecked(positionId) {
        var ch = $("#" + positionId).is(":checked");
        var val = document.getElementById("quantity_" + positionId).value; 

        var quantity = parseFloat(val);

        if (ch) {
            $.ajax(positionId + "/Orders", {
                type: 'POST',
                data: { quantity: quantity },
                success: function (data, status, xhr) {
                    reloadAll();
                },

                error: function (jqXhr, textStatus, errorMessage) {
                    reloadAll();
                }
            });
        } else {
             $.ajax( positionId + "/Orders", {
                 type: 'DELETE',
                 dataType: 'text',
                success: function (data, status, xhr) {
                    reloadAll();
                },
                error: function (jqXhr, textStatus, errorMessage) {
                    reloadAll();
                 }
            });
        }
    }

    function quantityEntered(positionId)
    {
        var val = document.getElementById("quantity_" + positionId).value; 

        if (val == "" || val == "0")
            document.getElementById(positionId).checked = false;
        else
            document.getElementById(positionId).checked = true;

        positionChecked(positionId);
    }

</script>