@model BillSplitter.Models.InteractionLevel.InteractionLevelPosition

<form asp-action="@ViewData["Action"]" method="post" asp-route-billId="@ViewData["billId"]">

    <div class="validation" asp-validation-summary="ModelOnly" />
    <div>
        <div class="form-group">
            <label asp-for="Name"> Name</label>
            <input class="form-control" type="text" asp-for="Name" />
            <span asp-validation-for="Name"> </span>
        </div>

        <div class="form-group">
            <label asp-for="Price">Price</label>
            <input class="form-control" type="number" asp-for="Price" />
            <span asp-validation-for="Price"> </span>
        </div>

        <div class="form-group">
            <label asp-for="QuantityNumerator">Quantity</label>
            <input class="form-control" type="number" asp-for="QuantityNumerator" />
            <span asp-validation-for="QuantityNumerator"> </span>
        </div>

        <div class="form-group">
            <input type="submit" value="@ViewData["ActionName"]" class="btn btn-outline-dark" />
        </div>
    </div>

</form>